html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body { 
  line-height: 1;
  background: #f5f5f5;
  color: #a37e23;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Màu viền: #a37e23 */

/* CSS CONTAINER */
.container {
  position: relative;
  background: #FFF;
  max-width: 600px;
  min-width: 269px;
  min-height: 500px;
  margin: 0 auto;
  box-shadow: 0 0 10px #dedede;
}

.list-item {
  line-height: 0;
  max-width: 269px;
  margin: 0 auto;
  padding: 20px 0;
}

.list-item li {
  width: 269px;
  cursor: pointer;
}

.list-item li:last-child {border-bottom: 1px solid #a37e23;}

.content {
  line-height: 1;
  cursor: default;
  display: none;
  padding: 0 20px;
  border-left: 1px solid #a37e23;
  border-right: 1px solid #a37e23;
}

.content span {
  display: block;
  margin-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.content img {
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

.js-img-on {display: none;}

.popup {
  display: none;
  cursor: default;
  line-height: 1;
  position: absolute;
  top: -400px;
  left: 12%;
  width: 65%;
  padding: 0 20px;
  border: 2px solid #a37e23;
  background: #FFF;
}

.popup span {
  display: block;
  margin-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.popup img {
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
}

.popup .img-close {
  cursor: pointer;
  position: absolute;
  top: -23px;
  right: -23px;
  padding: 0;
  width: auto;
}
