html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 0;
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
   display: inline-block;
  text-decoration: none;
}

/* CSS CONTAINER */

.container {
  position: relative;
  width: 1124px;
  background: #FFF;
  margin: 0 auto;
  overflow: hidden;
}

.container__price {
  display: flex;
  flex-wrap: wrap;
}

.container__price li {position: relative;}

.btn {
  display: inline-block;
  position: absolute;
  width: 418px;
  height: 48px;
  background: url("../images/btn_mango_on.png");
  z-index: 1;
  &:hover {
    background: url("../images/btn_mango_off.png");
  }
}

.container__price li:nth-child(odd) a {
  @extend .btn;
  bottom: 25px;
  left: 115px;
}

.container__price li:nth-child(even) a {
  @extend .btn;
  bottom: 25px;
  right: 119px;
}

.container__link {position: relative;}

.container__link > a {
  @extend a;
  position: absolute;
}

.cow-top {
  right: 78px;
  bottom: 68px;
  width: 175px;
  height: 30px;
}

$height: 15px;

.link__footer {
  position: absolute;
  display: flex;
  width: 365px;
  height: $height;
  bottom: 30px;
  margin-left: 78px;
}

.link-type-1 {
  width: 55px;
  height: $height;
}

.link-type-2 {
  width: 133px;
  height: $height;
  margin-left: 25px;
}

.link-type-3 {
  width: 121px;
  height: $height;
  margin-left: 25px;
}

