html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    width: 1124px;
    background: #FFF;
    margin: 0 auto;
    overflow: hidden;
}

.container__price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.price__item {
    position: relative;
}

.btn,
.btn_1,
.btn_3,
.btn_2,
.btn_4 {
    display: inline-block;
    position: absolute;
    width: 418px;
    height: 48px;
    background: url("../images/mango_btn_off.png");
    z-index: 1;
}

.btn:hover,
.btn_1:hover,
.btn_3:hover,
.btn_2:hover,
.btn_4:hover {
    background: url("../images/mango_btn_on.png");
}

.btn_1 {
    bottom: 25px;
    left: 115px;
}

.btn_3 {
    bottom: 36px;
    left: 115px;
}

.btn_2 {
    bottom: 25px;
    right: 119px;
}

.btn_4 {
    bottom: 36px;
    right: 119px;
}